@import "../../../../node_modules/primeflex/primeflex.min.css";
@import "../../../../node_modules/primeicons/primeicons.css";

.dashTitle {
    position: sticky;
    background-color: #fff;
    width: 100%;
    top: 0;
    z-index: 999;
}

.noData {
    color: gray;
}

.card {
    background-color: #fff;
}

.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

i {
    font-size: 2rem;
}

i:hover {
    cursor: pointer;
    color: #3498DB;
}